
<%= form_for(answer = local_assigns[:locals][:answer]) do |f| %>
  <%= f.hidden_field :question_id, value: "#{answer.question_id}"  %>
  <div class="field">
    <%= f.text_area :description, placeholder: "Compose new answer...", required: true %>
  </div>
  <div class="actions">
    <%= f.button :submit, label: 'ADD Answer',:class=>"btn btn-info" %>
  </div>
<% end %>
